
@import '../../node_modules/simplemde/dist/simplemde.min.css';

@font-face {
  font-family: RobotoSlab;
  src: local("Roboto Slab Light"),
       local("RobotoSlab-Light"),
       url(RobotoSlab-Light.ttf);
}

.editor-preview{
  font-family: RobotoSlab;
}

.CodeMirror-scroll{
  font-family: RobotoSlab;
}

.CodeMirror{
  height: calc(~"100vh - 120px");
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background-image: url(../img/underline.gif);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: inherit;
}

.CodeMirror .cm-medium {
  background: rgba(255, 255, 0, .45);
}

.CodeMirror .cm-hard {
  background: rgba(255, 0, 0, .15);
}

.CodeMirror .cm-longWord {
  background: rgba(255, 128, 0, .15);
}

.CodeMirror .cm-fourSyllables {
  background: rgba(128, 255, 0, .15);
}

.CodeMirror .cm-replace {
  background: rgba(0, 0, 255, .15);
}

.CodeMirror .cm-suggest {
  background: rgba(0, 255, 0, .15);
}

.CodeMirror .cm-passive {
  background: rgba(0, 128, 128, .15);
}

div.opentip{
  ul {
      padding: 0;
      list-style-type: none;
  }
}

.editor-statusbar span{
  display: none;
}

.statusbar{
  font-size: 12px;
  color: #959694;
  text-align: right;
}

.readability::before{
  content : "Grade ";
}

.wordCount::after{
  content : " Words";
}

#editor{
	height: calc(~"95vh");
}
/*
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
}
*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: RobotoSlab;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #F9C642;
    color: black;
}

.modal-body {
  padding: 20px;
}

.modal-footer button{
  background: #717171;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  text-decoration: none;
  border-width: 0px;
}

.modal-footer button:hover {
  background: #313131;
  text-decoration: none;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #F9C642;
    color: black;
}
